@{
    ViewData["Title"] = "C&G: Nueva Peluquería";
}

<div class="background_base bkg_001"></div>
<div class="mauto">
    <h1 class="title_form data">Nueva Peluquería</h1>
    <div class="container_box">
        <input type="text" id="autocomplete" class="form-control autocomplete_box" placeholder="Buscador de peluquerías..."/>
        <form method="post" id="form_CreateHairdresser" action="CreateHairdresser" class="data" style="margin-top: 10px;" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" id="schedules" name="schedules" />

            <h3>Información del establecimiento</h3>
            <label class="login-control registrer-control">Imagen del establecimiento: <input type="file" name="file" /></label>
            <input type="text" name="Name" id="h_name" class="form-control" maxlength="60" placeholder="Nombre" />
            <div class="form_div_flex">
                <input type="text" id="h_address" name="Address" class="form-control" maxlength="100" placeholder="Dirección" />
                <input type="text" id="h_postalCode" name="PostalCode" class="form-control" maxlength="5" placeholder="Código Postal" />
            </div>
            <input type="text" id="h_phone" name="Phone" class="form-control" maxlength="20" placeholder="Teléfono" />
            <hr /> <br />

            <div id="schedules_container"></div>

            <div class="btn_container_submit_cancel">
                <span></span>
                <span></span>
                <button type="button" onclick="executeSubmit()" class="form-button form-button-create">
                    Guardar cambios
                </button>
                <span></span>
                <div style="width: 100%;">
                    <a asp-controller="User" asp-action="ControlPanel" class="form-button form-button-cancel">
                        Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section createhairdresser_script {
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAg4OpucveKYKlYtgmtG5RmCiKJSRCfK9I&callback=initAutocomplete" async defer></script>
    <script src="~/js/schedule_builder.js"></script>
    <script src="~/js/schedule_actions.js"></script>
    <script>
        $(document).ready(function () {
            $("#schedules_container").load("/Hairdresser/_ScheduleContainerPartial", function() {
                generateScheduleTable(); // Generamos la estructura de la tabla

                toggleTdDays(); // Verificamos si es necesario mostrar el td3
                storeCurrentType(); // Almacenar el valor actual del select al cargar la página

                $('button.schedule_input.schedule_btn_add:first').off('click').click(function () {
                    insertRow(false);
                });

                $(".schedule_types").change(async function () { // Mostrar/Ocultar td3
                    toggleTdDays(); // Modificamos la columna de días
                    checkButtonAdd(); // Comprobamos el estado del botón de añadir
                    storeCurrentType(); // Almacenamos el nuevo valor del type
                });

                $(document).click(function (event) { // Cuando se haga click fuera de la caja, esta se guarda
                    if (!$(event.target).closest(".days_button").length && !$(event.target).closest(".days_select").length) {
                        $(".days_select").slideUp();
                    }
                });
            });
        });

        function executeSubmit() {
            const schedules = collectScheduleData();
            if (schedules.length > 0) {
                $(".loadingContainer").fadeIn();
                let dots = $(".dots");
                animate(dots, "dots--animate");
                $("#schedules").val(JSON.stringify(schedules));
                $("#form_CreateHairdresser").submit();
            }
        };

        function collectScheduleData() {
            const schedules = [];
            $('tr[id^="schedule_row_"]').each(function () {
                const startTime = $(this).find('td:eq(0)').text();
                const endTime = $(this).find('td:eq(1)').text();
                let textdays = $(this).find('td:eq(2)').text();

                if (textdays === "De Lunes a Domingo") {
                    textdays = "L M X J V S D";
                } else if (textdays === "De Lunes a Viernes") {
                    textdays = "L M X J V";
                }

                schedules.push({
                    Start: startTime,
                    End: endTime,
                    Monday:    textdays.includes("L"),
                    Tuesday:   textdays.includes("M"),
                    Wednesday: textdays.includes("X"),
                    Thursday:  textdays.includes("J"),
                    Friday:    textdays.includes("V"),
                    Saturday:  textdays.includes("S"),
                    Sunday:    textdays.includes("D")
                });
            });
            return schedules;
        }

        function initAutocomplete() {
            var input = $('#autocomplete')[0];
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                if (place.types.includes("hair_care")) {
                    var postalCode = place.address_components[place.address_components.length - 1].long_name;
                    var cp_index = (place.formatted_address).indexOf(postalCode);
                    var address = (cp_index != -1) ? (place.formatted_address).substring(0, cp_index) : (place.formatted_address).split(",", 1)[0];

                    $('#h_name').val(place.name);
                    $('#h_address').val(address.trim().replace(/(^,)|(,$)/g, ""));
                    $('#h_postalCode').val(postalCode);
                    $('#h_phone').val(place.formatted_phone_number);
                }
            });
        }
    </script>
}